body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    margin: 0;
}

.card {
    margin: auto;
    margin-top: 218px;
    margin-bottom: 30px;
    width: 384px;
    height: 522px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    filter: drop-shadow(8px 8px black);
}

.img {
    margin: 24px;
}

.ill {
    width: 336px;
    height: 200px;
    border-radius: 10px;

}


.content {
    margin: 0 24px 24px;
    width: 336px;
    height: 194px;
}

.tag {
    width: 82px;
    height: 29px;
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
}

h4 {
    font-weight: 800;
    padding-top: 4px;
    text-align: center;
}

.date p {
    font-size: 14px;

}

.title p {
    color: hsl(0, 0%, 50%);
}

h2 a {
    font-weight: 800;
    color: black;
    text-decoration: none;
}

h2 a:hover {
    color: hsl(47, 88%, 63%);
}

.author {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 24px;

}

h5 {
    margin: 0;
}

.photo {
    width: 32px;
    height: 32px;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 450px) {
    .card {
        width: 327px;
        height: 501px;
        margin-top: 55px;
        font-size: 14px;
    }

    .img {
        width: 279px;
        height: 200px;
    }

    .ill {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .content {
        width: 279px;
        height: 173px;
    }

    .h2 {
        font-size: ;
    }


}

@media screen and (max-width: 1400px) {
    .card {
        margin-top: 80px;
    }
}