body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-size: 16px;
}

.card {
    margin: auto;
    width: 384px;
    height: 522px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    filter: drop-shadow(8px 8px black);
}

.img {
    margin: 24px;
}

svg {
    border-radius: 10px;
}

.content {
    margin: 0 24px;
}

.tag {
    width: 82px;
    height: 29px;
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
}

h4 {
    font-weight: 800;
    padding-top: 4px;
    text-align: center;
}

.date p {
    font-size: 14px;
}

h2 a {
    font-weight: 800;
    color: black;
    text-decoration: none;
}

h2 a:hover {
    color: hsl(47, 88%, 63%);
}

footer {
    position: fixed;
    bottom: 0;

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}